.top-image-container-pc {
    height: 550px;
    background: url('../../public/images/top-banner-pc.png') center center repeat-x;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .service {
    background-color: hsla(309, 100%, 96%, 1);
    background-image:
        radial-gradient(at 90% 0%, hsla(189, 100%, 64%, 0.5) 0px, transparent 50%),
        radial-gradient(at 12% 0%, hsla(343, 100%, 69%, 0.47) 0px, transparent 50%),
        radial-gradient(at 46% 0%, hsla(28, 100%, 74%, 0) 0px, transparent 50%),
        radial-gradient(at 56% 0%, hsla(355, 100%, 93%, 0) 0px, transparent 50%),
        radial-gradient(at 4% 0%, hsla(22, 100%, 77%, 0) 0px, transparent 50%),
        radial-gradient(at 75% 0%, hsla(0, 0%, 100%, 0) 0px, transparent 50%);
} */

/* .card-footer {
    position: relative;
    z-index: 2;
}

.card-footer::after {
    position: absolute;
    top: -5px;
    left: -7px;
    width: 100%;
    height: 105%;
    content: '';
    border: 4px solid #FFF;
    z-index: 3;
} */

/* .service-2-container-card {
    background-color: hsla(310, 66%, 98%, 1);
    background-image:
        radial-gradient(at 10% 0%, hsla(28, 100%, 74%, 0.38) 0px, transparent 50%),
        radial-gradient(at 89% 0%, hsla(187, 100%, 76%, 0.68) 0px, transparent 50%);
} */